In [131]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [132]:
data = pd.read_csv('retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [133]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 0. Товар 999999
На вебинаре мы использовали товар 999999 - что это за товар?  
Зачем он нужен?  
Используя этот товар мы смещаем качество рекомендаций.
В какую сторону?   
Можно ли удалить этот товар?   
Уберите этот товар (**внимание**: это можно сделать разными способами!) и сравните с качеством на семинаре.

- Не вводить его вообще
- Фильтровать выходы (в ручную, ignore_items)
- Разные товары 999999

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. вес = log(sales_sum товара)
- Придумайте пример 3 весов, посчитайте weighted_random_recommendation для разных весов

In [134]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
    
    return recs.tolist()

In [135]:
popularity = data.groupby('item_id')['sales_value'].sum().reset_index()

popl = data['sales_value'].sum()

popularity['item_sales_weight_percent'] = (popularity['sales_value'] / popl) *100
popularity.head(10)

   item_id  sales_value  item_sales_weight_percent
0    25671        20.94                   0.000282
1    26081         0.99                   0.000013
2    26093         1.59                   0.000021
3    26190         1.54                   0.000021
4    26355         1.98                   0.000027
5    26426         2.29                   0.000031
6    26540         2.79                   0.000038
7    26601         7.59                   0.000102
8    26636         2.50                   0.000034
9    26691         8.37                   0.000113

In [136]:
popularity.describe()

            item_id    sales_value  item_sales_weight_percent
count  8.905100e+04   89051.000000               89051.000000
mean   5.115772e+06      83.458481                   0.001123
std    5.178973e+06    1628.715079                   0.021915
min    2.567100e+04       0.000000                   0.000000
25%    9.665830e+05       3.500000                   0.000047
50%    1.448516e+06      10.780000                   0.000145
75%    9.553042e+06      46.105000                   0.000620
max    1.802456e+07  467993.620000                   6.296956

In [137]:
popularity_2 = popularity[['item_id', 'item_sales_weight_percent']]

# popularity_2.sort_values('item_sales_weight_percent')
popularity_2 = popularity_2.sort_values(by=['item_sales_weight_percent'], ascending=False)

popularity_2['logarithm_base2'] = 1/np.log2(popularity_2['item_sales_weight_percent'])

# popularity_2['logarithm_base2'] = popularity_2['user_id'].apply(lambda x: popular_recs)
popularity_2.head(10)

C:\Users\Newman\anaconda3\lib\site-packages\pandas\core\arraylike.py:274: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

       item_id  item_sales_weight_percent  logarithm_base2
56233  6534178                   6.296956         0.376697
56193  6533889                   0.573808        -1.247878
29195  1029743                   0.511055        -1.032578
56228  6534166                   0.421134        -0.801508
35054  1082185                   0.367207        -0.691881
16539   916122                   0.360987        -0.680281
56184  6533765                   0.352773        -0.665253
37719  1106523                   0.346555        -0.654088
25333   995242                   0.321509        -0.610848
52184  5569230                   0.294336        -0.566744

In [138]:
new_df = data.merge(popularity_2, on="item_id")
# new_df = new_df.sort_values(by=['item_sales_weight_percent'], ascending=False, inplace=True)
new_df.head(5)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,item_sales_weight_percent,logarithm_base2
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0,0.117942,-0.32427
1,1929,27021022215,4,1004906,1,1.39,441,-0.6,1755,1,0.0,0.0,0.117942,-0.32427
2,568,27021090189,4,1004906,1,1.39,446,-0.6,35,1,0.0,0.0,0.117942,-0.32427
3,887,27031467254,5,1004906,1,1.39,298,-0.6,1551,1,0.0,0.0,0.117942,-0.32427
4,175,27057508267,7,1004906,1,1.99,446,0.0,2303,2,0.0,0.0,0.117942,-0.32427

In [139]:
sale_weight = new_df.groupby('item_id')['sales_value'].sum().reset_index()
sale_weight.sort_values(by=['sales_value'], ascending=False, inplace=True)
sale_weight = sale_weight.reset_index()
sale_weight = sale_weight.drop(index=[0])
sale_weight

       index   item_id  sales_value
1      56193   6533889     42645.75
2      29195   1029743     37981.91
3      56228   6534166     31298.96
4      35054   1082185     27291.02
5      16539    916122     26828.79
...      ...       ...          ...
89046  50764   2961522         0.00
89047  70059  10121805         0.00
89048  39334   1121502         0.00
89049   5918    821773         0.00
89050  59028   7160577         0.00

[89050 rows x 3 columns]

In [140]:


sale_weight.sort_values(by=['sales_value'], ascending=False, inplace=True)
total_sales = sale_weight['sales_value'].sum()
sale_weight['item_sales_weight_percent'] = (sale_weight['sales_value'] / total_sales) *100
sale_weight['logarithm_base2'] = (1/np.log2(sale_weight['item_sales_weight_percent'])) * (-1)
sale_weight = sale_weight.reset_index()

sale_weight.head(10)

C:\Users\Newman\anaconda3\lib\site-packages\pandas\core\arraylike.py:274: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

,level_0,index,item_id,sales_value,item_sales_weight_percent,logarithm_base2
0,1,56193,6533889,42645.75,0.612368,1.413371
1,2,29195,1029743,37981.91,0.545398,1.143357
2,3,56228,6534166,31298.96,0.449435,0.866690
3,4,35054,1082185,27291.02,0.391883,0.739916
4,5,16539,916122,26828.79,0.385246,0.726666
5,6,56184,6533765,26218.33,0.376480,0.709545
6,7,37719,1106523,25756.15,0.369843,0.696858
7,8,25333,995242,23894.76,0.343115,0.647989
8,9,52184,5569230,21875.22,0.314116,0.598576
9,10,8493,844179,18094.23,0.259823,0.514297

In [141]:
sale_weight['weighted_sales_value'] = (sale_weight['sales_value'] * sale_weight['logarithm_base2']) 
sale_weight.head(10)

,level_0,index,item_id,sales_value,item_sales_weight_percent,logarithm_base2,weighted_sales_value
0,1,56193,6533889,42645.75,0.612368,1.413371,60274.273543
1,2,29195,1029743,37981.91,0.545398,1.143357,43426.868740
2,3,56228,6534166,31298.96,0.449435,0.866690,27126.486443
3,4,35054,1082185,27291.02,0.391883,0.739916,20193.075512
4,5,16539,916122,26828.79,0.385246,0.726666,19495.567245
5,6,56184,6533765,26218.33,0.376480,0.709545,18603.078035
6,7,37719,1106523,25756.15,0.369843,0.696858,17948.370936
7,8,25333,995242,23894.76,0.343115,0.647989,15483.543138
8,9,52184,5569230,21875.22,0.314116,0.598576,13093.973517
9,10,8493,844179,18094.23,0.259823,0.514297,9305.814379

In [142]:
sale_weight['item_sales_weight_percent'].sum()

100.00000000000001

In [143]:
sale_weight['logarithm_base2'].sum()

7596.615744936096

In [144]:
sale_weight['weighted_sales_value'].sum()/sale_weight['sales_value'].sum()

0.18366355831704856

In [145]:

final_db  =  data.merge(sale_weight, on="item_id")
final_db.sort_values(by=['weighted_sales_value'], ascending=False, inplace=True)
# final_db.reset_index()

In [146]:
# final_db = final_db.reset_index()
final_db.head(10)

,user_id,basket_id,day,item_id,quantity,sales_value_x,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,level_0,index,sales_value_y,item_sales_weight_percent,logarithm_base2,weighted_sales_value
1667054,1619,30087532488,216,6533889,21774,51.15,422,-2.17,1617,32,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666956,825,29276758955,172,6533889,9666,29.66,375,-0.01,1805,25,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666926,1079,29115027663,161,6533889,10046,27.01,318,-0.01,1632,24,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666925,825,29114820303,161,6533889,9702,26.67,375,-0.01,735,24,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666924,906,29114799129,161,6533889,8862,24.18,319,-0.89,2210,24,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666923,1023,29095133403,160,6533889,21982,56.69,429,-2.20,1934,24,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666922,1609,29095123177,160,6533889,15946,43.84,316,-1.59,1913,24,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666921,825,29094671633,159,6533889,13401,35.50,375,-1.34,1301,23,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666920,1982,29094629381,159,6533889,3511,9.76,319,-0.01,2112,23,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543
1666919,1982,29094625865,159,6533889,11293,31.16,319,-1.13,1153,23,0.0,0.0,1,56193,42645.75,0.612368,1.413371,60274.273543

In [147]:
test_size_weeks = 3

data_train = final_db[final_db['week_no'] < final_db['week_no'].max() - test_size_weeks]
data_test = final_db[data['week_no'] >= final_db['week_no'].max() - test_size_weeks]

C:\Users\Newman\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [148]:
data_train.shape[0], data_test.shape[0]

(2260945, 99950)

In [149]:
data_test.groupby('user_id')['item_id'].unique().reset_index()

      user_id                                            item_id
0           1  [15926844, 15926712, 15926927, 13877012, 13511...
1           2  [13189726, 858373, 16035203, 13213074, 1377698...
2           3  [13842214, 13945244, 15596279, 15741861, 13671...
3           4            [13115703, 13115481, 9297031, 10121570]
4           5  [13159269, 13987103, 13986893, 13986405, 13212...
...       ...                                                ...
2379     2496  [13945244, 13910296, 13382073, 15506577, 15452...
2380     2497  [15831255, 994685, 13511457, 13040302, 1545281...
2381     2498  [13841744, 8011291, 13008079, 13910296, 159269...
2382     2499  [13842090, 13945244, 13382073, 15511891, 13512...
2383     2500  [13039424, 13382327, 13842088, 15596279, 12692...

[2384 rows x 2 columns]

In [150]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result['actual'] = result['actual'].apply(lambda x: list(x))
result.head(10)

   user_id                                             actual
0        1  [15926844, 15926712, 15926927, 13877012, 13511...
1        2  [13189726, 858373, 16035203, 13213074, 1377698...
2        3  [13842214, 13945244, 15596279, 15741861, 13671...
3        4            [13115703, 13115481, 9297031, 10121570]
4        5  [13159269, 13987103, 13986893, 13986405, 13212...
5        6  [15926712, 12692332, 15926863, 14019783, 13007...
6        7  [8011291, 13040302, 1110039, 15511891, 1311551...
7        8  [13189726, 15926886, 15717170, 1118963, 155965...
8        9                               [13671735, 16729296]
9       10                                [15596488, 1085653]

In [151]:
test_users = result.shape[0]
new_test_users = len(set(data_test['user_id']) - set(data_train['user_id']))

print('В тестовом датасете {} юзеров'.format(test_users))
print('В тестовом датасете {} новых юзеров'.format(new_test_users))

В тестовом датасете 2384 юзеров
В тестовом датасете 0 новых юзеров

In [39]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_weight_percent'].sum().reset_index()
    popular.sort_values('logarithm_base2', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [40]:
popularity_recommendation(popular, n=5)

KeyError: 'logarithm_base2'

In [11]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(data_train, n=5)

result['popular_recommendation'] = result['user_id'].apply(lambda x: popular_recs)

result.head(2)

[6534178,
 1029743,
 6533889,
 1106523,
 6533765,
 5569230,
 1082185,
 6534166,
 844179,
 916122,
 995242,
 12484608,
 5569471,
 1070820,
 1126899,
 878996,
 899624,
 866211,
 1089093,
 981760,
 951590,
 1070702,
 1133018,
 1004906,
 1135476,
 863447,
 1005186,
 854852,
 1098844,
 8090537,
 962568,
 986912,
 828106,
 883404,
 874972,
 1081177,
 859075,
 914190,
 923746,
 1044078,
 5568378,
 6034857,
 9245106,
 1075368,
 1134688,
 5569845,
 961554,
 903325,
 8090521,
 854405,
 12810391,
 913210,
 844165,
 1068719,
 12810393,
 840361,
 976199,
 999858,
 12812261,
 1058997,
 908531,
 947858,
 862349,
 12731432,
 849843,
 880150,
 901062,
 1110843,
 845208,
 970747,
 1096036,
 1022254,
 1051323,
 1053690,
 878715,
 948670,
 1055646,
 1069506,
 973916,
 12757087,
 12811532,
 995785,
 849202,
 1101010,
 933835,
 860776,
 1127831,
 1026118,
 949023,
 1034176,
 979707,
 15972074,
 994685,
 15926886,
 1138443,
 940947,
 9396835,
 12487897,
 831628,
 5585510,
 839419,
 972418,
 965766,
 909714,
 883003,
 835098,
 962229,
 1038663,
 12673308,
 957736,
 871061,
 865456,
 17241023,
 5569374,
 1013928,
 921504,
 12262978,
 12729545,
 1065538,
 984680,
 1024306,
 1118623,
 820165,
 826249,
 1092026,
 1069312,
 12731425,
 15972298,
 970030,
 823704,
 837569,
 987562,
 834117,
 872137,
 17105530,
 10149640,
 9835223,
 927191,
 882305,
 1122358,
 983584,
 910673,
 1028816,
 899019,
 1050851,
 6544236,
 868764,
 12731436,
 13416117,
 897354,
 5569327,
 951412,
 857503,
 12301109,
 993638,
 919423,
 1404121,
 1027168,
 937292,
 8090532,
 1049788,
 999779,
 910032,
 1131321,
 833025,
 847573,
 893018,
 1022003,
 1037840,
 908318,
 1025611,
 1087102,
 824005,
 1065593,
 1000753,
 5569135,
 5568729,
 1040807,
 819978,
 823990,
 1012587,
 847982,
 909894,
 1003188,
 1056509,
 838186,
 12810464,
 847270,
 1108094,
 12301100,
 1048257,
 917384,
 994928,
 1130858,
 13158500,
 986947,
 1101173,
 999270,
 944534,
 9677366,
 1112238,
 885863,
 851066,
 832678,
 1136257,
 950638,
 6602697,
 960613,
 6534480,
 13876458,
 8090440,
 871756,
 995965,
 12731543,
 1132771,
 1043590,
 916561,
 1008032,
 12731517,
 12302069,
 834484,
 1071939,
 5568489,
 961979,
 1032967,
 999104,
 8090536,
 896862,
 1098066,
 870547,
 846014,
 969725,
 1013321,
 1042438,
 1041796,
 957232,
 8065410,
 15926844,
 944836,
 1018740,
 1002787,
 1104343,
 1103808,
 944137,
 1062128,
 933067,
 1106301,
 12757133,
 848270,
 969568,
 866227,
 1075214,
 897954,
 15926712,
 909268,
 1042907,
 12301839,
 863762,
 1025176,
 971922,
 1037863,
 16053242,
 860248,
 1128016,
 893501,
 907631,
 12946027,
 1055504,
 848319,
 938700,
 1079913,
 9296919,
 14106445,
 836445,
 909497,
 823721,
 956599,
 845193,
 1052294,
 965842,
 9836106,
 12301073,
 1051211,
 12984573,
 892531,
 5592931,
 1074333,
 1003600,
 1091365,
 1062002,
 911812,
 1042697,
 826666,
 916993,
 1070845,
 1069863,
 6602729,
 973016,
 1038217,
 10150194,
 10344585,
 990797,
 1099089,
 883932,
 8090509,
 1110764,
 998119,
 6534077,
 856252,
 893894,
 15512233,
 892433,
 867420,
 1021324,
 910473,
 827024,
 1137775,
 1057260,
 1085604,
 1121384,
 890695,
 866548,
 1009187,
 12262735,
 9835509,
 1035321,
 1117514,
 1107420,
 6534035,
 989069,
 16100266,
 1051516,
 985999,
 946995,
 944139,
 829291,
 889509,
 1062966,
 953476,
 865705,
 9521787,
 15741060,
 9677236,
 7139529,
 1113111,
 999971,
 997272,
 885290,
 930118,
 847790,
 972143,
 974156,
 1058214,
 1103691,
 949965,
 897125,
 1002558,
 1007136,
 979674,
 921744,
 947798,
 1058629,
 1070015,
 925862,
 1129085,
 1008288,
 827180,
 12262830,
 913785,
 1075175,
 1038985,
 1139216,
 1006184,
 918335,
 1055425,
 1137284,
 839656,
 1068292,
 948086,
 1121360,
 14025593,
 879755,
 9546982,
 15717170,
 8116306,
 5571176,
 12810389,
 1044259,
 1042544,
 1000237,
 839243,
 6533608,
 946839,
 963686,
 951197,
 963971,
 896085,
 1005274,
 902172,
 976998,
 1082990,
 1059902,
 17208636,
 995151,
 15926885,
 15831255,
 1131506,
 852856,
 882247,
 835300,
 10285144,
 925626,
 15717075,
 1119993,
 943940,
 995628,
 982469,
 8177622,
 12731701,
 1070272,
 1097018,
 1134483,
 1116821,
 998444,
 825749,
 8293447,
 951821,
 16053266,
 5570383,
 833940,
 904997,
 1115576,
 5569854,
 12731660,
 1051468,
 12172071,
 997349,
 1020682,
 938138,
 6533936,
 919534,
 859010,
 1100972,
 16809666,
 945662,
 7155863,
 916588,
 844697,
 897306,
 831407,
 1013259,
 15926775,
 5591170,
 12731685,
 1050229,
 890909,
 903800,
 13841744,
 1034686,
 956902,
 1012514,
 846466,
 956486,
 944018,
 950998,
 1115175,
 934639,
 926905,
 1102416,
 17104444,
 936355,
 925516,
 1074524,
 860975,
 870315,
 930917,
 1137346,
 1000493,
 17179319,
 16059169,
 15927186,
 14025268,
 1069621,
 944317,
 906838,
 1014948,
 1077490,
 1110572,
 991205,
 12263024,
 885023,
 1039156,
 940766,
 916381,
 1029624,
 957063,
 919766,
 5566800,
 1125278,
 908846,
 7168026,
 5563693,
 1138854,
 1027569,
 972665,
 1077410,
 841116,
 1058779,
 12731748,
 9524291,
 1004436,
 822280,
 1018007,
 890610,
 1067695,
 1135258,
 1054262,
 13003092,
 825365,
 970152,
 13672224,
 1026058,
 1123842,
 906844,
 1076056,
 1036501,
 948650,
 12731809,
 920091,
 865174,
 1008547,
 891961,
 987724,
 1043751,
 1071342,
 1022097,
 963868,
 960791,
 13007721,
 858373,
 13877192,
 843756,
 9833277,
 12811534,
 993379,
 958594,
 907099,
 859427,
 867188,
 16809589,
 6534030,
 872342,
 868683,
 934399,
 10457471,
 1092303,
 911470,
 1021164,
 5590765,
 9187298,
 16058585,
 7409698,
 1029688,
 883202,
 864893,
 1110111,
 949294,
 5574377,
 1127758,
 13506200,
 828867,
 9677202,
 999198,
 8118676,
 5591083,
 9835903,
 8203851,
 969866,
 911311,
 862732,
 1088910,
 883677,
 870882,
 861279,
 15926887,
 13003101,
 8090539,
 1077555,
 871611,
 1099510,
 12731684,
 942565,
 12781924,
 995876,
 901666,
 12731714,
 1096343,
 958154,
 851819,
 8249140,
 1113274,
 1129049,
 1014054,
 830503,
 856060,
 880427,
 999250,
 13039824,
 12487816,
 930666,
 12757316,
 834826,
 6039859,
 929668,
 6463742,
 15566731,
 981086,
 8273833,
 13003361,
 850102,
 7442008,
 859129,
 1097001,
 1105917,
 952408,
 845705,
 865528,
 12731707,
 9933751,
 1113588,
 989824,
 960732,
 1119051,
 972931,
 1120928,
 857849,
 1083446,
 1131438,
 6514160,
 13115469,
 13911022,
 1138487,
 15452803,
 964521,
 1006878,
 951190,
 821083,
 1127624,
 901776,
 819308,
 835243,
 875089,
 855448,
 896369,
 15926725,
 852864,
 15926927,
 5591154,
 1130517,
 1075470,
 397896,
 6395907,
 1015785,
 1060408,
 12352408,
 916062,
 13506119,
 1127108,
 9837296,
 898068,
 15717150,
 862799,
 13654702,
 873847,
 939900,
 948953,
 1054402,
 17105058,
 1079987,
 13073225,
 921438,
 1098248,
 1028953,
 1002771,
 825343,
 13877039,
 7409999,
 14025267,
 1013167,
 862335,
 1082212,
 873654,
 1056973,
 898212,
 859191,
 1120741,
 848029,
 969836,
 841220,
 13876901,
 849505,
 885307,
 1088771,
 7443069,
 1052912,
 950894,
 969932,
 982955,
 854754,
 908064,
 9419528,
 9527159,
 15926863,
 1013703,
 1094308,
 1090931,
 892314,
 1009449,
 1129576,
 12984576,
 12301405,
 15717057,
 1101959,
 962185,
 1110244,
 1111035,
 1117723,
 904129,
 12301404,
 984715,
 842140,
 1126294,
 937210,
 1044805,
 5582712,
 834631,
 1102959,
 1138682,
 892008,
 989101,
 1072523,
 848798,
 9419419,
 887474,
 906335,
 1015548,
 897083,
 1076875,
 873203,
 1136719,
 12648296,
 16729299,
 16729415,
 1037332,
 5590613,
 1110409,
 6548453,
 1103105,
 5585701,
 1032427,
 6979241,
 842068,
 17249614,
 9521679,
 1033615,
 1046957,
 916758,
 895166,
 9526274,
 1004001,
 977780,
 1029112,
 923149,
 819927,
 972244,
 954809,
 9296778,
 1118235,
 885697,
 929018,
 959316,
 15972557,
 873964,
 895540,
 1101437,
 1092885,
 1118946,
 1031316,
 891632,
 1075313,
 1010681,
 16099804,
 1077975,
 852015,
 1135834,
 1114522,
 850028,
 875804,
 1123792,
 16223404,
 900802,
 1130729,
 5567702,
 15512234,
 12582494,
 1129873,
 8291322,
 1109981,
 1106872,
 1137484,
 10198378,
 952972,
 1051046,
 971962,
 874753,
 9547021,
 1059473,
 945611,
 841309,
 5578547,
 1070538,
 893651,
 1111236,
 6464086,
 912137,
 939546,
 999714,
 976065,
 968215,
 879734,
 1118963,
 1137387,
 880888,
 904236,
 1042571,
 1009368,
 1096317,
 873627,
 998373,
 889774,
 822407,
 8290587,
 1084310,
 1103629,
 15571171,
 953561,
 845774,
 1023958,
 1084331,
 912004,
 896613,
 971949,
 829852,
 8273950,
 907014,
 825541,
 12696089,
 839326,
 869577,
 970866,
 7024847,
 1101706,
 12730170,
 13159156,
 968072,
 960370,
 975180,
 974108,
 8090513,
 1138423,
 13381584,
 968687,
 972416,
 15972790,
 939636,
 1035676,
 1055382,
 15511233,
 1005456,
 1027068,
 12262992,
 1034567,
 918733,
 955259,
 1127025,
 1007259,
 993466,
 862070,
 1097458,
 982790,
 832513,
 829323,
 12263788,
 823775,
 921836,
 1007269,
 8090541,
 969977,
 883107,
 1018818,
 980353,
 959737,
 961730,
 13115915,
 1116242,
 849120,
 951074,
 8357613,
 6034780,
 13910669,
 12988031,
 13512876,
 922127,
 1055446,
 1061394,
 1061220,
 1040693,
 1021116,
 936924,
 973086,
 1115098,
 866540,
 15596956,
 967395,
 985119,
 935284,
 13115579,
 1068708,
 13189726,
 1034639,
 994287,
 1057949,
 1053924,
 9832469,
 9835408,
 1043494,
 15506728,
 8160430,
 1064908,
 998352,
 849297,
 843898,
 16809471,
 1094955,
 938566,
 925112,
 14025500,
 1046031,
 6533362,
 941307,
 886991,
 939860,
 1128812,
 1069366,
 837270,
 922561,
 1067606,
 1043730,
 6632283,
 1023466,
 9884698,
 15924983,
 871252,
 826385,
 5592694,
 908504,
 1044759,
 1068957,
 918368,
 1021519,
 15973135,
 5590965,
 1006483,
 7152455,
 1101980,
 9926758,
 833724,
 1056651,
 827656,
 926823,
 869047,
 895680,
 878775,
 5592261,
 1137688,
 1018769,
 707683,
 1123022,
 15972565,
 917033,
 10180324,
 1069522,
 7466994,
 14025374,
 924642,
 1019637,
 1025581,
 1017201,
 1108168,
 827683,
 ...]

In [76]:
def popularity_recommendation(data, n=5):
    """Топ-n sales_weight товаров"""
    
#     popular = data.groupby('item_sales_weight_percent').reset_index()
    popular = data.groupby('item_id')['item_sales_weight_percent'].sum().reset_index()
    popular.sort_values('item_sales_weight_percent', ascending=False, inplace=True)
    
    recs = popular.head(n)
    
    return recs.tolist()

In [77]:
popularity_recommendation(new_df, n=5)

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [63]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(new_df, n=5)

new_df['popular_recommendation'] = new_df['user_id'].apply(lambda x: popular_recs)
new_df.head(2)

AttributeError: 'NoneType' object has no attribute 'head'

In [48]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
#     recs = np.random.choice(items, size=n, replace=False)
    sale_weight = 
    
    return recs.tolist()

SyntaxError: invalid syntax (<ipython-input-48-72a4bd81f27c>, line 6)

In [ ]:
%%time

items = data_train.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

Сделайте предсказания

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма (с вебинара и weighted_random_recommendation) с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество? Почему?

In [ ]:
result = pd.read_csv('preds.csv')# закгрузка predict с семианара
result.head(2)

In [ ]:
type(result['actual'][0])

In [ ]:
# файл с предсказаниями сохранил предсказания как строки
# нужно перевести обратно в список
for a in result.columns[1:]:
    result.loc[:, a]=  result[a].map(lambda x: x[1:-1].split(', ')).apply(lambda x: list(map(int, x)))

In [ ]:
type(result['own_purchases'][0])

In [ ]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

In [ ]:
result.apply(lambda x: precision_at_k(x['own_purchases'], x['actual'],  5), axis=1).mean()

### Задание 3. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.
- Попробуйте стратегии ансамблирования изученных алгоритмов

In [ ]:
# your_code

### Задание 4*. Улучшение детерминированных алгоритмов
На семинаре мы рассматривали

Далее $U \equiv N_i(u) $

$$r_{u,i} =  \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)r_{v, i}$$
$$ S = \sum\limits_{v \in U} \operatorname{sim}(u,v)$$

Предлагается улучшить эту формулу и учесть средние предпочтения всех пользователей

$$r_{u,i} = \mu + \bar{r_u} + \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)(r_{v, i}-\bar{r_{v}} - \mu)$$

Какие смысл имееют $ \mu $ и $ \bar{r_u}$ ?

Реализуйте алгоритм, прогнозирующий рейтинги на основе данной формулы, на numpy (векторизованно!)

В качестве схожести возьмите CosineSimilarity.

Примените к user_item_matrix. В качестве рейтингов возьмите количество или стоимость купленного товара. 
Данный алгоритм предсказывает рейтинги. Как на основании предсказанных рейтингов предсказать факт покупки?

Предложите вариант.
Посчитайте accuracy@5 и сравните с алгоритмами, разобранными на вебинаре.